@media (max-width: 991px) {
    #header .left .links {
        display: none;
    }
    #header ul.submenu {
        display: none;
    }
    #header ul.submenu_small_screen {
        display: block;
    }
    .StudentDashboard .row {
        margin: auto;
        width: 90%;
    }
    .StudentDashboard .row.show {
        margin: auto;
        width: 50%;
    }
    .StudentDashboard .lessons .right {
        height: 170px;
        max-height: 170px;
        margin: auto;
        margin-bottom: 3rem;
    }
    .StudentDashboard .lessons .left {
        padding-left: 0;
        padding-right: 0rem;
        margin-right: 0;
        width: 100%;
        max-width: 100%;
        flex: 100%;
    }
    .StudentDashboard .lessons .left h2 {
        text-align: center;
        margin-right: 0;
        width: 100%;
    }
    .StudentDashboard .lessons .left p {
        text-align: justify;
        padding: 1rem 0;
        max-width: 90%;
        line-height: 2rem;
        min-height: 150px;
        max-height: 150px;
        width: 90%;
        height: 150px;
        display: block;
        margin: auto;
    }
    a.lesson {
        float: none;
    }
    .split_right,
    .split_left {
        display: none;
    }
    .StudentDashboard .points .all .right, 
    .StudentDashboard .points .today .right, 
    .StudentDashboard .points .past .right {
        text-align: left;
    }
    .StudentDashboard .points .col-md-4 {
        display: flex;
        border: 1px solid #d3d3d3;
        border-right: none;
        border-left: none;
        flex: 100%;
        max-width: 100%;
        margin: auto;
    }
    .StudentDashboard .points  .left .img {
        background: #50bfea;
        text-align: center;
        margin: auto;
        margin-right: 1rem;
        margin-top: 1rem;
    }
    .StudentDashboard .points .right img {
        position: relative;
        bottom: 0;
        width: 50%;
        max-height: 55%;
        margin: auto;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .StudentDashboard .points .right span {
        width: 100%;
        right: 3%;
    }
    .StudentDashboard .points .right h3 {
        right: 45%;
        margin-right: 0;
    }
    .StudentDashboard .points .points_slide {
        height: 170px;
        max-height: 170px;
        overflow: hidden;
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .StudentDashboard .points .row .caret {
        display: inline-flex;
        width: 85%;
        bottom: 15%;
    }
    .StudentDashboard .points .row .caret  i.left {
        margin-left: -3rem;
    }
    .StudentDashboard .gallery .row .arrows {
        height: 0;
        width: 85%;
        bottom: 50%;
    }
    .StudentDashboard .gallery .row .arrows i.prev {
        margin-right: -2rem;
    }
    #return-to-top {
        width: 55px;
        height: 55px;
        margin-left: 0.5rem;
    }
    #return-to-top i {
        margin: 0;
    }
}
@media (max-width: 767px) {
    #header .row {
        margin: auto;
        width: 100%;
    }
    #header .row .col-md-3,
    #header .row .col-md-9 {
        width: 50%;
    }
    #header .row .col-md-9 {
        top: 0.5rem;
    }
    .breadcrumb .row {
        margin: auto;
        width: 100%;
    }
    .StudentDashboard .row {
        margin: auto;
        width: 100%;
    }
    .StudentDashboard .row.show {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .StudentDashboard .lessons .left p {
        max-width: 90%;
        min-height: 145px;
        max-height: 145px;
        width: 90%;
        height: 145px;
        overflow: hidden;
        margin-bottom: 2rem;
    }
    .StudentDashboard .level .row {
        padding: 2rem 0.5rem;
    }
    .StudentDashboard .level .row .col-xl-2 {
        margin: auto;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .StudentDashboard .level .right span.pom {
        right: 41.5%;
    }
    .StudentDashboard .level .left {
        margin: auto;
        top: 0;
    }
    .StudentDashboard .gallery .row .arrows {
        height: 0;
        width: 93%;
        bottom: 45%;
    }
    .StudentDashboard .gallery .row .arrows i.prev {
        margin-right: -1rem;
    }
    .StudentDashboard .points .row .caret {
        display: inline-flex;
        width: 98%;
        bottom: 20%;
    }
    .StudentDashboard .points .row .caret i.left {
        margin-left: 0;
    }
    .StudentDashboard .points .row .caret i.right {
        margin-right: 1rem;
    }
    div.footer .row {
        margin: auto;
        width: 85%;
        padding: 1rem 0;
        padding-bottom: 0;
    }
    div.footer .row div:first-child {
        margin: auto;
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 1.5rem;
    }
    div.footer h5 {
        text-align: center;
    }

}